@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>@ViewBag.Article.Title</h2>
<br/>
<p>@ViewBag.Article.Content</p>
<br/>
<p>@ViewBag.Article.Date</p>

<div><i class="bi bi-globe"></i> @ViewBag.Category.CategoryName</div>

<form method="post" action="/Articles/Delete/@ViewBag.Article.Id">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
