@{
    ViewBag.Title = "Editare categorie";
}
@model lab1_8.Models.Category
<h2>@ViewBag.Title</h2>

<form method="post" action="/Categories/Edit/@Model.Id">


    @Html.Label("CategoryName", "Edit Category")
    <br />
    @Html.Editor("CategoryName", new { htmlAttributes = new { @class = "form-control" } })
    <br /><br />

    <button class="btn btn-success" type="submit">Edit categories</button>
</form>

